{:deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases  {:dev {:extra-deps {poly/api {:local/root "bases/api"}}}

            :test {:extra-paths ["bases/api/test"]
                   :extra-deps {eftest/eftest {:mvn/version "0.6.0"}
                                cloverage/cloverage {:mvn/version "1.2.4"}
                                circleci/bond {:mvn/version "0.6.0"}}
                   :exec-fn cloverage.coverage/run-project
                   :exec-args {:test-ns-path ["bases/api/test"]
                               :src-ns-path ["bases/api/src"]
                               :runner :eftest
                               :runner-opts {:multithread? false}}}

            :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.5.1109"}}
                       :main-opts ["-m" "antq.core" "--no-diff"
                                   "--exclude=org.clojure/core.async"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "48d8a14d31a02cd2229d99bca094fe383d3dcace"
                                 :deps/root "projects/poly"}}}}}
