{:linters {:single-key-in {:level :warning}
           :shadowed-var {:level :warning}
           :missing-docstring {:level :warning}
           :refer-all {:exclude [clojure.test
                                 slingshot.slingshot]}
           :unresolved-symbol {:exclude [(slingshot.slingshot/try+ [e _e &throw-context])]}
           :consistent-alias {:aliases {clojure.spec.alpha s
                                        clojure.string str
                                        bond.james bond}}}}
