{:paths ["src" "resources"]

 :deps {org.clojure/tools.namespace {:mvn/version "1.4.4"}
        integrant/repl {:mvn/version "0.3.3"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}

