name: scrooge-api

run-name: api

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Prepare back-end environment
      uses: ./.github/actions/setup-backend
      with:
        m2-cache-key: api-tests

    - name: Install dependencies
      run: clojure -P -M:dev:test
    - name: Run tests
      run: clojure -X:dev:test

